@charset "UTF-8";

@font-face {
    font-family: 'titleFont';
    src: url("../font/汉仪尚巍手书W.ttf");
}

@font-face {
    font-family: 'font';
    src: url("../font/优设标题黑_猫啃网.ttf");
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: #eee;*/
    background-color: #f3e8d6;
}

body .shell {
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .shell-main-footer {
    width: 100%;
    position: relative;
    height: 100px;
    transform: translateY(100px);
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    align-items: center;
    text-align: center;
    font: 100 30px 'font';
    background-color: rgba(255, 255, 255, 0.7);
}
