
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    color: #333;
    background-color: #eee;
    min-width: 1226px;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/***************************mainbody start********************************/

.mainbody {
    width: 100%;
    height: 4700px;
    padding-top: 60px;
    background-color: #f5f5f5;
}

.smart, .collocation, .accessories, .peripheral {
    width: 1226px;
    height: 686px;
    margin: 0 auto 22px;
}

.title p {
    width: 89px;
    height: 58px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    transition: all .4s;
    cursor: pointer;
}

.title p:hover {
    color: #ff6700;
}

.title p:hover i {
    color: #ff6700;
}

.title p i {
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #b0b0b0;
    margin-left: 10px;
}

.title {
    width: 1226px;
    height: 58px;
    position: relative;
    border-bottom: #777777 solid 1px;
}

.title h2 {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    float: left;
}

.title .miniArrow {
    font-family: "iconfont" !important;
    font-style: normal;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    margin-top: 17px;
    color: #b0b0b0;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    float: right;
    cursor: pointer;
    transition: all .2s;
}

.title .miniArrow:hover {
    color: #ff6700;
    border: 1px solid #ff6700;
}

.title .other ul {
    float: right;
    height: 58px;
}

.title .other ul li {
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 14px 0 14px 30px;
}

.title .other ul li a {
    padding-bottom: 3px;
}

.title .other ul li:first-child a, .title .other ul li a:hover {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.title .other ul li a {
    color: #333;
}

.aside {
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}

.aside ul li {
    width: 234px;
    height: 260px;
    margin-bottom: 14px;
    float: left;
    transition: all .2s linear;
    cursor: pointer;
}

.aside ul li img {
    width: 234px;
    height: 260px;
}

.list {
    float: left;
    margin-top: 8px;
}

.list li {
    width: 130px;
    /*height: 160px;*/
    height: 130px;
    margin-left: 14px;
    margin-bottom: 10px;
    padding: 10px 15px 0;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    float: left;
    background-color: #fff;
    transition: all .2s linear;
}

.list .more {
    background-color: #f5f5f5;
    text-align: left;
    padding: 0;
}

.list .more:hover {
    z-index: 0;
    box-shadow: none;
    transform: none;
}

.list .more .moreTop, .list .more .moreBottom {
    width: 234px;
    height: 143px;
    margin-bottom: 14px;
    background-color: #fff;
    float: left;
    position: relative;
    transition: all .2s linear;
}

.list .more .moreTop .description {
    position: absolute;
    top: 50px;
    left: 20px;
}

.description h3 {
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list .more .moreTop img {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 25px;
    top: 30px;
}

.list .more .moreBottom p {
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 50px;
    left: 20px;
}

.list .more .moreBottom span {
    font-size: 12px;
    color: #b0b0b0;
    position: absolute;
    top: 75px;
    left: 30px;
}

.list .more .moreBottom i {
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 50px;
    color: #ff6700;
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: 30px;
    transition: all .5s;
}

.list .more .moreBottom i:hover {
    transform: scale(1.1);
}

.list li img {
    width: 100px;
    height: 100px;
    margin: 0 auto 0px;
    cursor: pointer;
}

.list li h3 {
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
}

.list li p {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    overflow: hidden;
}

.list li h4 {
    margin: 0 10px 14px;
    color: #ff6700;
    font-weight: normal;
}

.list li h4 span {
    text-decoration: line-through;
    color: #b0b0b0;
}

/*页面hover悬浮效果*/
.list li:hover, .aside ul li:hover, .list .more > div:hover, .doubleList li:hover, .video ul li:hover, .smart .aside img:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -2px, 0);
}
