
body .shell-top {
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(to bottom, rgb(24, 16, 61), rgb(31, 16, 25));*/
    position: absolute;
    transition: .2s;
    overflow: hidden;
}

body .shell-top video {
    width: 100%;
}

body .shell-top .word {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body .shell-top .word h2 {
    font: calc(100vw * 220 / 1920) 'titleFont';
    color: lightgrey;
    letter-spacing: 10px;
}

body .shell-main {
    width: 100%;
    height: auto;
    top: 100vh;
    position: relative;
    transition: .2s;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

body .shell-main-nav {
    width: 100%;
    height: 60px;
    position: sticky;
    z-index: 999;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5vh !important;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(13px);
}

body .shell-main-nav .logo {
    width: 220px;
    height: 100%;
    position: absolute;
    left: 5%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

body .shell-main-nav .logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

body .shell-main-nav .logo span {
    font: 100 22px 'font';
    letter-spacing: 2px;
}

body .shell-main-nav .search {
    width: 220px;
    height: 100%;
    position: absolute;
    left: 30%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

body .shell-main-nav .search .icon {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    left: 12px;
    top: 18px;
}

body .shell-main-nav .search input {
    height: 32px;
    border: #777777 solid 1px;
    background-color: white;

    font-size: 14px;
    display: inline-block;
    line-height: inherit;
    outline: 0;
    color: #222226;
    vertical-align: top;
    text-indent: 32px;
    border-right: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px 0 0 16px;
}

body .shell-main-nav .search a {
    display: inline-block;
    width: 88px;
    height: 30px;
    outline: 0;
    border-radius: 0 16px 16px 0;
    border: #777777 solid 1px;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #eee;
    text-align: center;
}

body .shell-main-nav ul {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 5%;
}

body .shell-main-nav ul .nav-box {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 115px;
    height: 5px;
    border-radius: 2px;
    z-index: -999;
    transition: .5s;
}

body .shell-main-nav ul li {
    width: 150px;
    text-align: center;
}

body .shell-main-nav ul li a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
}

body .shell-main-nav ul li:nth-child(2):hover ~ .nav-box {
    left: 120px;
    background-color: red;
}

body .shell-main-nav ul li:nth-child(3):hover ~ .nav-box {
    left: 240px;
    background-color: #8da1f8;
}

body .shell-main-nav ul li:nth-child(4):hover ~ .nav-box {
    left: 360px;
    background-color: #ffb1b1;
}

body .shell-main-nav ul li:nth-child(5):hover ~ .nav-box {
    left: 480px;
    background-color: #7df88e;
}

/*@keyframes transform {*/
/*    0% {*/
/*        transform: rotate(30deg) translate(0);*/
/*    }*/

/*    50% {*/
/*        transform: rotate(40deg) translate(10px);*/
/*    }*/

/*    100% {*/
/*        transform: rotate(30deg) translate(0px);*/
/*    }*/
/*}*/

/*@keyframes transform {*/
/*    0% {*/
/*        transform: rotate(30deg);*/
/*    }*/

/*    50% {*/
/*        transform: rotate(40deg);*/
/*    }*/

/*    100% {*/
/*        transform: rotate(30deg);*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/

/*    .shell-top {*/
/*        display: flex;*/
/*    }*/

/*    body .shell-main-nav ul {*/
/*        transform: scale(.7);*/
/*        right: -60px;*/
/*        top: 2px;*/
/*    }*/

/*}*/

/*@media (max-width: 600px) {*/
/*    body .shell-main-nav .logo {*/
/*        display: none;*/
/*    }*/

/*    body .shell-main-nav ul {*/
/*        transform: scale(.6);*/
/*        right: -130px;*/
/*    }*/

/*    body .shell-top .word {*/
/*        width: 80%;*/
/*        height: 100px;*/
/*    }*/

/*}*/

/*@media (min-width: 1300px) {*/
/*    body .shell-main-bottom {*/
/*        margin: 0;*/
/*    }*/
/*}*/